<% provide(:title, '') %>
<div class="center hero-unit">
    <% if signed_in? %>
        <h1>VISIBLE IF SIGNED</h1>
        <h1>addHotel.html.erb from /Hotels</h1>
        <p>It must be form for creating new entry about hotel</p>
  	<% else %>
    	<h1>Welcome to the Hotels App</h1>
		<h2>This board allows you to rate any existing hotel or create new one.</h2>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

		<%= link_to image_tag("rails-logo.svg", alt: "Rails"), 'http://rubyonrails.org/' %>
	<% end %>
</div>
