<% provide(:title, '') %>
<div class="center hero-unit">
    <h1>Full describtion about hotel</h1>
    <hr />
    <div class="div_descr_1">
        div 1 <br />
        Place for picture <br />
    </div>
    <div class="div_descr_2">
        div 2 <br />
        Place for full describtion.... <br />
    </div>
    <div class="div_descr_3">
        div 3 <br />
        Rating and vota-button <br />
    </div>
    <div class="div_descr_4">
        div 4 <br />
        Commentaries... <br />
    </div>
    
    <div class="clear"></div>

</div>
