<% provide(:title, '') %>
<div class="center hero-unit">
    <h1>Full describtion about hotel</h1>
    <hr />
    <div class="div_full_describtion">
        <div id="id2">Block number 2</div>
        <div id="id3">
            Block number 3<br />
            <strong>PRICE:</strong> 999$<br />

            <strong>DESCRIBTION:</strong>  fdslkfjds kfldsjf kldsjf dsklfj dsklfj
            dsjlkf dsjfkldsj fkldsfj dsklfjsd klf jdskfl jdfklds jdfkldsdsjkl 
            sdjklf dsklfjsdklf jdsfkl dsjflk dsjfkdsl fjdsklfj sdklfdsj fdslkfjdsjd
            jdsklf dsjfkldsj fdsklfj sdlkfj dslkfjds lkfjdslfk dsjflkds jdfkldssdjklf
            jdsklfdsjflkdsjf ldskfjsd lkfjsd lkfjdsfkl dsjfkl sdjfklds fjdsklfj 
            jsdklf dsjfklsdjfkdsl  fdslkfjds kfldsjf kldsjf dsklfj dsklfj
            dsjlkf dsjfkldsj fkldsfj dsklfjsd klf jdskfl jdfklds jdfkldsdsjkl 
            sdjklf dsklfjsdklf jdsfkl dsjflk dsjfkdsl fjdsklfj sdklfdsj fdslkfjdsjd
            jdsklf dsjfkldsj fdsklfj sdlkfj dslkfjds lkfjdslfk dsjflkds jdfkldssdjklf
            jdsklfdsjflkdsjf ldskfjsd lkfjsd lkfjdsfkl dsjfkl sdjfklds fjdsklfj 
            jsdklf dsjfklsdjfkdsl fsdklfjsdklfjsdklfjdsklfjsdfkldsjfkldsjflkdsfj<br />
            
            <strong>FOOD:</strong> Yes/no <br />          
            
            <strong>COUNTRY:</strong> Russia<br />

            <strong>CiTY:</strong> Sevastopol<br />

            <strong>STREET:</strong> VOLODARSKOGO<br />


           <!-- <table class="table_full_describtion">
                <tr>
                    <td id="price">Price</td><td>99999$</td>
                </tr>
                <tr>
                    <td>Info</td>
                    <td id="Describtion">
                        
                    </td>
                </tr>
                <tr>
                    <td>Food</td><td>Yes/no</td>
                </tr>
                <tr>
                    <td>Country</td><td>Russia</td>
                </tr>
                <tr>
                    <td>City</td><td>Sevastopol</td>
                </tr>
                <tr>
                    <td>Street</td><td>Volodarskogo</td>
                </tr>
            </table> -->
        </div>
        <div id="id4">Block number 4</div>
        <div id="id5">Block number 5</div>
        <div style="clear:both;"></div>

    </div>        
</div>
