<div class="div_preview_enrty">
    <table class="table_preview_entry">
        <tr>
            <td class="td_preview_pic"> here must be<br />preview </td>
      		<td class="td_preview_text"> 
                <strong>Title</strong> <br />
                Some short information about hotel <br />
                Rating <br />
                <br />
                <i>Author</i>              
            </td>
        </tr>
    </table>
</div>

 