@import 'bootstrap';


/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: zz;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

.container {
  max-width: 100%;
  min-width: 350px;
}
.navbar navbar-fixed-top navbar-inverse {
  max-width: 100%;
  min-width: 350px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: #777;
  a {
    color: $gray;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid #eee;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.root_body {
  min-width: 750px;
  width: 100%;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.table_preview_entry {
  width: 100%;
  min-width: 700px;
  height: 250px;
  border-style: solid;
  border-width: 2px;
  border-collapse: collapse;
}
  .table_preview_div1 {
    background: #222;
    width: 100%;
    height: 100%;
    float: top;
    img{
      height: 100%;
      width: 100%;
    }
  }
  .table_preview_div2 {
    background: #444;
    padding-left: 3%;
    min-height: 30px;
    max-height: 30px;
    min-width: 250px;
    width: 97%;
  }
  .table_preview_div3 {
    background: #666;
    padding-left: 3%;
    min-height: 160px;
    height: 100%;
    min-width: 250px;
    width: 97%;
    text-align: justify;
    vertical-align: text-top;
  }

  .table_preview_div4 {
    background: #888;
    padding-left: 3%;
    min-height: 30px;
    max-height: 30px;
    min-width: 250px;
    width: 67%;
    float: left;
    float: bottom;
  }
  .table_preview_div5 {
    background: #AAA;
    min-height: 60px;
    max-height: 60px;
    min-width: 50px;
    width: 30%;
    float: right;
  }
  .table_preview_div6 {
    background: #BBB;
    padding-left: 3%;
    min-height: 30px;
    max-height: 30px;
    min-width: 250px;
    width: 67%;
    float: left;
    float: bottom;
  }
  

  TD, TH {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid black; /* Параметры рамки */
  }
  TH {
    background: #b0e0e6; /* Цвет фона */
  }
  .td_preview_pic {
    min-height: 250px;
    min-width: 250px;
    height: 250px;
    width: 250px;
    max-height: 250px;
    max-width: 250px;
    text-align: center;
    vertical-align: top;
  }
  .td_preview_text {
    text-align: justify;
    vertical-align: text-top;
  }
    .td_preview_text_div {
      background: #111;
    }
      .btn-more {
        width: 70%;
        margin-top: 7px;
      }

.div_full_describtion {
  min-width: 1000px;
  margin-left: 10px;
}

.div_descr_1 + .div_descr_2 + .div_descr_3 + .div_descr_4 {
  
}
.div_descr_1 {
  float: left;
  background-color: #222;
  min-width: 50%;
  max-width: 50%;
  min-height: 410px;
  mmax-height: 410px;
  img{
    height: 100%;
    width: 100%;
  }
}
.div_descr_2 {
  float: right;
  background-color: #444;
  min-width: 50%;
  max-width: 50%;
  min-height: 1000px;
  mmax-height: 1000px;
}
.div_descr_3 {
  float: left;
  float: top;
  background-color: #666;
  min-width: 50%;
  max-width: 50%;
  min-height: 100px;
  max-height: 100px;
}
.div_descr_4 {
  float: left;
  background-color: #888;
  min-width: 50%;
  max-width: 50%;
  min-height: 490px;
  mmax-height: 490px;
}
.clear {
  clear: both;
}

/* Show user page */

.content {
  display: block;
  margin: 10px;
}

.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}
